/* * {
    box-sizing: border-box;
  } */
  
  /* body {
    margin-top: 50px;
    font-family: sans-serif;
    background-color: DarkSlateGray;
  } */
  
  .cards_wrapper {
    display: flex;
    justify-content: center;
    padding: 24px;
  }
  
  .pricing_card {
    margin: 16px;
    padding: 32px;
    background-color: white;
    color: #333;
    min-height: 320px;
    max-width: 260px;
    border-radius: 8px;
    box-shadow: 1px 10px 20px rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  
  .title {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 16px;
    text-align: center

  }
  
  .plan_description {
    /* margin-bottom: 48px; */
    color: lightslategray;
    line-height: 140%;
    letter-spacing: .25px;
  }
  
  .price {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center
  }
  
  .price_description {
    font-size: 12px;
    color: lightslategray;
    margin-bottom: 16px;
    text-align: center
  }
   
  
  .cta {
  /*     border: 2px solid red; */
    min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .one > .cta > p {
    color: teal;
    font-weight: bold;
  }
  
  .three > .cta > p {
    font-size: 14px;
    color: tomato;
  }