.device-list-item:hover, .device-list-item:active {
    background-color: rgba(211, 211, 211, 0.301);
    cursor: pointer;
}
.device-list-item{
    padding: 1em 0.4em !important;
    transition: 0.3s;
}

/* .device-list-item:not(:last-child){ */
.device-list-item{
    border-top: 1px solid rgba(83, 83, 83, 0.397) !important;
    /* border-bottom: 1px solid rgba(83, 83, 83, 0.397) !important; */
}

.scrollable-list{
    max-height: 420px !important;
    overflow-y: scroll;
}
