.pie-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  /* position : absolute; */
  width: 100%;
  min-height: 280px;
}

.monitor_box {
  transition: 0.2s ease-in-out;
  border-radius: 3px !important;
  padding: 2em 1.2em;
  /* cursor: pointer; */
}

.monitor_box:hover {
  cursor: pointer !important;
  box-shadow: 5px 5px 20px 5px #d3d3d3;
  transform: scale(1.05);
}
