html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.notification-dot{
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: inline-block;
  background-color: #D7263D;
  position: absolute;
  right: 12px;
  top: 20px;
}

.ui-list-item:hover, .ui-list-item:active {
  background-color: rgba(211, 211, 211, 0.301);
  cursor: pointer;
}
.ui-list-item{
  padding: 1em 0.4em !important;
  transition: 0.3s;
}

/* .ui-list-item:not(:last-child){ */
.ui-list-item{
  border-bottom: 1px solid rgba(211, 211, 211, 0.644) !important;
  /* border-top: 1px solid rgba(211, 211, 211, 0.644) !important; */
}

.slick-next, .slick-prev {
  color: black !important ;
  

}